.body{
  margin: 0;
  background-color:rgba(17, 17, 17, 1);
  background-image: url(../../images/NG-G_back.svg);
  background-size: contain;
  background-position: 0px -20vh;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: rgb(48, 48, 48);
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  border: 1px solid rgb(75, 75, 75)
}