.profile{
  margin: 0 auto;
  background-image: url(https://images.unsplash.com/photo-1496629062893-b0f566065d44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  background-position: 0px;
  padding-top: 164px;
  padding-bottom: 121px;
}
@media screen and (max-width: 768px){
  .profile{
    padding-top: 90px;
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 550px){
  .profile{
    padding-top: 80px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 400px){
  .profile{
    padding-top: 40px;
  }
}