.profile{
  margin: 0 auto;
  background-image: url(../../images/background-profile.png);
  background-size: cover;
  background-position: 0px;
  padding-top: 164px;
  padding-bottom: 121px;
}
@media screen and (max-width: 768px){
  .profile{
    padding-top: 90px;
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 550px){
  .profile{
    padding-top: 80px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 400px){
  .profile{
    padding-top: 40px;
  }
}