.main-content-grid{
  margin: 0 auto;
  max-width: 1007px;
  padding-bottom: 50px;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 23px;
  row-gap: 10px;
}
@media screen and (max-width: 1024px)  {
  .main-content-grid{
  column-gap: 1px;
  row-gap: 1px;
  }
}