.popup__image-scale{
  max-width: 75vw;
  max-height: 75vh;
  z-index: 5;
}
@media screen and (max-width: 900px) {
  .popup__image-scale{
    max-width: 65vw;
    max-height: 65vh;
  }
}
@media screen and (max-width: 850px) {
  .popup__image-scale{
    max-width: 55vw;
    max-height: 55vh;
  }
}
@media screen and (max-width: 800px) {
  .popup__image-scale{
    max-width: 45vw;
    max-height: 45vh;
  }
}