.main-content__image-grid{
  margin: 0 auto;
  border: 1px solid rgba(17, 17, 17, 1);
  object-fit: cover;
  width: 321px;
  height: 407px;
  transition: border 200ms ease-in-out;
}
.main-content__image-grid:hover{
  border: 1px solid #00C2FF;
  cursor: pointer;
}

@media screen and (max-width: 1024px)  {
  .main-content__image-grid{
    width: 295px;
    height: 350px;
  }
}
@media screen and (max-width: 900px)  {
  .main-content__image-grid{
    width: 265px;
    height: 330px;
  }
}
@media screen and (max-width: 803px)  {
  .main-content__image-grid{
    width: 250px;
    height: 270px;
  }
}
@media screen and (max-width: 755px)  {
  .main-content__image-grid{
    width: 240px;
    height: 270px;
  }
}
@media screen and (max-width: 735px)  {
  .main-content__image-grid{
    width: 210px;
    height: 270px;
  }
}
@media screen and (max-width: 690px)  {
  .main-content__image-grid{
    width: 195px;
    height: 270px;
  }
}
@media screen and (max-width: 610px)  {
  .main-content__image-grid{
    width: 175px;
    height: 200px;
  }
}
@media screen and (max-width: 550px)  {
  .main-content__image-grid{
    width: 155px;
    height: 200px;
  }
}
@media screen and (max-width: 490px)  {
  .main-content__image-grid{
    width: 130px;
    height: 146px;
  }
}
@media screen and (max-width: 400px)  {
  .main-content__image-grid{
    width: 125px;
    height: 146px;
  }
}
@media screen and (max-width: 390px)  {
  .main-content__image-grid{
    width: 120px;
    height: 126px;
  }
}
@media screen and (max-width: 370px)  {
  .main-content__image-grid{
    width: 110px;
    height: 126px;
  }
}
@media screen and (max-width: 340px)  {
  .main-content__image-grid{
    width: 100px;
    height: 126px;
  }
}
@media screen and (max-width: 310px)  {
  .main-content__image-grid{
    width: 90px;
    height: 116px;
  }
}
@media screen and (max-width: 280px)  {
  .main-content__image-grid{
    width: 80px;
    height: 100px;
  }
}
@media screen and (max-width: 250px)  {
  .main-content__image-grid{
    width: 70px;
    height: 90px;
  }
}