.profile__img{
  margin: 0 auto;
  object-fit: cover;
  width: 306px;
  height: 400px;
  border: 10px solid black;
}
@media screen and (max-width: 1050px){
  .profile__img{
    width: 280px;
    height: 366px;
  }
}
@media screen and (max-width: 930px){
  .profile__img{
    width: 220px;
    height: 287px;
  }
}
@media screen and (max-width: 750px){
  .profile__img{
    width: 190px;
    height: 257px;
  }
}
@media screen and (max-width: 680px){
  .profile__img{
    width: 170px;
    height: 237px;
  }
}
@media screen and (max-width: 650px){
  .profile__img{
    width:360px;
    height: 437px;
  }
}
@media screen and (max-width: 550px){
  .profile__img{
    width:330px;
    height: 407px;
  }
}
@media screen and (max-width: 490px){
  .profile__img{
    width:300px;
    height: 377px;
  }
}
@media screen and (max-width: 410px){
  .profile__img{
    width:270px;
    height: 347px;
  }
}
@media screen and (max-width: 350px){
  .profile__img{
    width:240px;
    height: 317px;
  }
}
@media screen and (max-width: 300px){
  .profile__img{
    width:210px;
    height: 287px;
  }
}