@import url(../vendor/normalize.css);
@import url(../vendor/Inter/inter.css);
/* CSS FOR BODY */
@import url(../blocks/body/body.css);
/* CSS FOR HEADER */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__container-link/header__container-link.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__input/header__input.css);
/* CSS FOR PROFILE */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__card-container/profile__card-container.css);
@import url(../blocks/profile/__paragraph/profile__paragraph.css);
@import url(../blocks/profile/__span/profile__span.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__img/profile__img.css);
@import url(../blocks/profile/__img-name/profile__img-name.css);
@import url(../blocks/profile/__text-container/profile__text-container.css);
@import url(../blocks/profile/__text/profile__text.css);
/* ОБЩИЙ CSS ДЛЯ ВСЕХ КНОПОК */
@import url(../blocks/button/button.css);
/* ОБЩИЙ CSS ДЛЯ ВСЕХ ССЫЛОК */
@import url(../blocks/link/link.css);
/* CSS FOR BUTTONS */
@import url(../blocks/buttons/buttons.css);
@import url(../blocks/buttons/__container/buttons__container.css);
@import url(../blocks/buttons/__item/buttons__item.css);
@import url(../blocks/buttons/__item-grid/buttons__item-grid.css);
@import url(../blocks/buttons/__item-grid/_disabled/buttons__item-grid_disabled.css);
@import url(../blocks/buttons/__item-nogrid/buttons__item-nogrid.css);
@import url(../blocks/buttons/__item-up/buttons__item-up.css);
@import url(../blocks/buttons/__button-add/buttons__button-add.css);
@import url(../blocks/buttons/__button-video/buttons__button-video.css);
@import url(../blocks/buttons/__button-photo/buttons__button-photo.css);
@import url(../blocks/buttons/__button-q/buttons__button-q.css);
/* CSS FOR MAIN-CONENT-GRID */
@import url(../blocks/main-content-grid/main-content-grid.css);
@import url(../blocks/main-content-grid/__image-grid/main-content__image-grid.css);
/* CSS FOR MAIN-CONTENT-NOGRID */
@import url(../blocks/main-content-nogrid/main-content-nogrid.css);
@import url(../blocks/main-content-nogrid/__container-nogrid/main-content__container-nogrid.css);
@import url(../blocks/main-content-nogrid/__image-nogrid/main-content__image-nogrid.css);
@import url(../blocks/main-content-nogrid/__text-container/main-content__text-container.css);
@import url(../blocks/main-content-nogrid/__text-span/main-content__text-span.css);
@import url(../blocks/main-content-nogrid/__text/main-content__text.css);
@import url(../blocks/main-content-nogrid/display/_none/display__none.css);
/* CSS FOR POPUP */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_active/popup_acitve.css);
@import url(../blocks/popup/__overlay/popup__overlay.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/popup/__button-span/popup__button-span.css);
@import url(../blocks/popup/__container/_image/popup__container_image.css);
@import url(../blocks/popup/__image-scale/popup__image-scale.css);
@import url(../blocks/popup/__container-text/popup__container-text.css);
@import url(../blocks/popup/__image-text/popup__image-text.css);
/* CSS FOR PAGE-LOADING */
@import url(../blocks/page-loading/page-loading.css);
@import url(../blocks/page-loading/__loader/page-loading__loader.css);
@import url(../blocks/page-loading/__title/page-loading__title.css);
/* CSS FOR VIDEO-CONTENT */
@import url(../blocks/video-content/video-content.css);
@import url(../blocks/video-content/video-container/video-container.css);
@import url(../blocks/video-content/__video/video-content__video.css);
@import url(../blocks/video-content/__text/video-content__text.css);
@import url(../blocks/video-content/__text-element/video-content__text-element.css);

.opacity{
  transition: opacity 200ms ease-in-out;
  opacity: 1;
}
.background{
  background-color: #000000;
}
.display_none{
  display: none;
}
.active{
  color: #00C2FF;
}

.favorite-images{
  margin: 0 auto;
  background-color: #000000;
  border-bottom: 1px solid white;
}
.favorite-images__text-container{
  margin: 0;
  max-width: 1825px;
  display: flex;
  justify-content: space-between;
}

.favorite-images__title{
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 70px;
  color: #FFFFFF;
  background-color: #FF84F3;
}
@media screen and (max-width: 1500px){
  .favorite-images__title{
    font-size: 48px;
    line-height: 60px;
  }
}
@media screen and (max-width: 1200px){
  .favorite-images__title{
    font-size: 40px;
    line-height: 52px;
  }
}
@media screen and (max-width: 650px){
  .favorite-images__title{
    font-size: 32px;
    line-height: 44px;
  }
}
@media screen and (max-width: 450px){
  .favorite-images__title{
    font-size: 26px;
    line-height: 38px;
  }
}
.favorite-images__author{
  margin: 0;
  align-self: flex-end;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-right: 10px;
}
@media screen and (max-width: 650px){
  .favorite-images__author{
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (max-width: 450px){
  .favorite-images__author{
    font-size: 12px;
    line-height: 16px;
  }
}
.favorite-images__images-container{
  margin: 0 auto;
  max-width: 1755px;
  margin-top: 21px;
  padding-bottom: 10px;
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
}
@media screen and (max-width: 1500px){
  .favorite-images__images-container{
    max-width: 1150px;
  }
}
@media screen and (max-width: 1200px){
  .favorite-images__images-container{
    max-width: 950px;
  }
}
@media screen and (max-width: 1050px){
  .favorite-images__images-container{
    max-width: 900px;
  }
}
@media screen and (max-width: 950px){
  .favorite-images__images-container{
    max-width: 760px;
  }
}
@media screen and (max-width: 750px){
  .favorite-images__images-container{
    max-width: 590px;
  }
}
@media screen and (max-width: 650px){
  .favorite-images__images-container{
    max-width: 520px;
  }
}
@media screen and (max-width: 550px){
  .favorite-images__images-container{
    max-width: 420px;
  }
}
@media screen and (max-width: 450px){
  .favorite-images__images-container{
    max-width: 350px;
  }
}
@media screen and (max-width: 350px){
  .favorite-images__images-container{
    max-width: 250px;
  }
}
.favorite-images__image{
  margin: 0;
  margin-right: 19px;
  width: 231px;
  height: 287px;
  object-fit: cover;
}
@media screen and (max-width: 1500px){
  .favorite-images__image{
    width: 201px;
    height: 237px;
  }
}
@media screen and (max-width: 1200px){
  .favorite-images__image{
    width: 181px;
    height: 217px;
  }
}
@media screen and (max-width: 1000px){
  .favorite-images__image{
    width: 171px;
    height: 207px;
  }
}
@media screen and (max-width: 750px){
  .favorite-images__image{
    width: 131px;
    height: 167px;
  }
}
@media screen and (max-width: 650px){
  .favorite-images__image{
    width: 111px;
    height: 147px;
  }
}
@media screen and (max-width: 550px){
  .favorite-images__image{
    width: 91px;
    height: 127px;
  }
}
@media screen and (max-width: 450px){
  .favorite-images__image{
    width: 71px;
    height: 107px;
  }
}
.favorite-images__image:last-of-type{
  margin-right: 0px;
}
.favorite-images__paragraph{
  margin: 0 auto;
  margin-top: 34px;
  margin-bottom: 21px;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
@media screen and (max-width: 800px){
  .favorite-images__paragraph{
    font-size: 17px;
    line-height: 21px;
  }
}
@media screen and (max-width: 750px){
  .favorite-images__paragraph{
    font-size: 15px;
    line-height: 19px;
  }
}
@media screen and (max-width: 650px){
  .favorite-images__paragraph{
    margin-top: 24px;
  }
}
@media screen and (max-width: 550px){
  .favorite-images__paragraph{
    font-size: 12px;
    line-height: 15px;
  }
}
@media screen and (max-width: 450px){
  .favorite-images__paragraph{
    font-size: 11px;
    line-height: 14px;
    margin-top: 16px;
  }
}
@media screen and (max-width: 350px){
  .favorite-images__paragraph{
    font-size: 9px;
    line-height: 12px;
    margin-top: 14px;
  }
}
@media screen and (max-width: 300px){
  .favorite-images__paragraph{
    font-size: 8px;
    line-height: 12px;
    margin-top: 14px;
  }
}