@import url(../vendor/normalize.css);
@import url(../vendor/Inter/inter.css);
/* CSS FOR BODY */
@import url(../blocks/body/body.css);
/* CSS FOR HEADER */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__container-link/header__container-link.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__input/header__input.css);
/* CSS FOR PROFILE */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__card-container/profile__card-container.css);
@import url(../blocks/profile/__paragraph/profile__paragraph.css);
@import url(../blocks/profile/__span/profile__span.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__img/profile__img.css);
@import url(../blocks/profile/__img-name/profile__img-name.css);
@import url(../blocks/profile/__text-container/profile__text-container.css);
@import url(../blocks/profile/__text/profile__text.css);
/* ОБЩИЙ CSS ДЛЯ ВСЕХ КНОПОК */
@import url(../blocks/button/button.css);
/* ОБЩИЙ CSS ДЛЯ ВСЕХ ССЫЛОК */
@import url(../blocks/link/link.css);
/* CSS FOR TITLE-MENU */
@import url(../blocks/title-menu/title-menu.css);
@import url(../blocks/title-menu/title-menu.css);
@import url(../blocks/title-menu/__button/title-menu__button.css);
@import url(../blocks/title-menu/__button-add/title-menu__button-add.css);
@import url(../blocks/title-menu/__button-video/title-menu__button-video.css);
@import url(../blocks/title-menu/__button-photo/title-menu__button-photo.css);
@import url(../blocks/title-menu/__button-q/title-menu__button-q.css);
@import url(../blocks/title-menu/__container/title-menu__container.css);
@import url(../blocks/title-menu/__title/title-menu__title.css);
@import url(../blocks/title-menu/__subtitle/title-menu__subtitle.css);
/* CSS FOR BUTTONS */
@import url(../blocks/buttons/buttons.css);
@import url(../blocks/buttons/__container/buttons__container.css);
@import url(../blocks/buttons/__item/buttons__item.css);
@import url(../blocks/buttons/__item-grid/buttons__item-grid.css);
@import url(../blocks/buttons/__item-grid/_disabled/buttons__item-grid_disabled.css);
@import url(../blocks/buttons/__item-nogrid/buttons__item-nogrid.css);
/* CSS FOR MAIN-CONENT-GRID */
@import url(../blocks/main-content-grid/main-content-grid.css);
@import url(../blocks/main-content-grid/__image-grid/main-content__image-grid.css);
/* CSS FOR MAIN-CONTENT-NOGRID */
@import url(../blocks/main-content-nogrid/main-content-nogrid.css);
@import url(../blocks/main-content-nogrid/__container-nogrid/main-content__container-nogrid.css);
@import url(../blocks/main-content-nogrid/__image-nogrid/main-content__image-nogrid.css);
@import url(../blocks/main-content-nogrid/__text-container/main-content__text-container.css);
@import url(../blocks/main-content-nogrid/__text-span/main-content__text-span.css);
@import url(../blocks/main-content-nogrid/__text/main-content__text.css);
@import url(../blocks/main-content-nogrid/display/_none/display__none.css);
/* CSS FOR POPUP */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_active/popup_acitve.css);
@import url(../blocks/popup/__overlay/popup__overlay.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/popup/__button-span/popup__button-span.css);
@import url(../blocks/popup/__container/_image/popup__container_image.css);
@import url(../blocks/popup/__image-scale/popup__image-scale.css);
@import url(../blocks/popup/__container-text/popup__container-text.css);
@import url(../blocks/popup/__image-text/popup__image-text.css);
/* CSS FOR PAGE-LOADING */
@import url(../blocks/page-loading/page-loading.css);
@import url(../blocks/page-loading/__loader/page-loading__loader.css);
@import url(../blocks/page-loading/__title/page-loading__title.css);

.video-content{
  margin: 0 auto;
  padding-top: 5vh;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1100px) {
  .video-content{
    padding-top: 0vh;
    margin-top: -5vh;
  }
}
.video-container{
  margin: 0 auto;
  margin-bottom: 70px;
}
.video-container__video{
  margin: 0;
  max-width: 645px;
  min-height: 300px;
}
@media screen and (max-width: 1100px) {
  .video-container__video{
    max-width: 500px;
    min-height: 115px;
  }
}
@media screen and (max-width: 768px) {
  .video-container__video{
    max-width: 450px;
  }
}
@media screen and (max-width: 600px) {
  .video-container__video{
    max-width: 370px;
  }
}
@media screen and (max-width: 450px) {
  .video-container__video{
    max-width: 320px;
    min-height: 105px;
  }
}
@media screen and (max-width: 350px) {
  .video-container__video{
    max-width: 280px;
    min-height: 90px;
  }
}
.video-content__text{
  margin: 0 ;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  max-width: 645px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
  background-color: whitesmoke;
}
@media screen and (max-width: 1100px) {
  .video-content__text{
    max-width: 500px;
  }
}
@media screen and (max-width: 1000px) {
  .video-content__text{
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .video-content__text{
    max-width: 450px;
  }
}
@media screen and (max-width: 600px) {
  .video-content__text{
    max-width: 370px;
  }
}
@media screen and (max-width: 450px) {
  .video-content__text{
    max-width: 320px;
  }
}
@media screen and (max-width: 350px) {
  .video-content__text{
    max-width: 280px;
  }
}
.video-content__text-element{
  margin: 0;
  margin-top: 15px;
  margin-left: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  color: #000
}
@media screen and (max-width: 1100px) {
  .video-content__text-element{
    font-size: 23px;
    line-height: 25px;
  }
}
@media screen and (max-width: 768px) {
  .video-content__text-element{
    font-size: 17px;
    line-height: 22px;
  }
}
@media screen and (max-width: 600px) {
  .video-content__text-element{
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (max-width: 350px) {
  .video-content__text-element{
    font-size: 12px;
    line-height: 19px;
  }
}
.video-content__text_span{
  font-weight: 500;
}

.opacity{
  transition: opacity 200ms ease-in-out;
  opacity: 1;
}
.display_none{
  display: none;
}
.buttons__item-up{
  position: fixed;
  bottom: 5vh;
  right: 3vw;
  background-image: url(../images/up-ico.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
}
@media screen and (max-width: 600px){
  .buttons__item-up{
    background-color: #000;
    border-radius: 100%;
  }
}
